{% extends 'bursary/main.html' %}

{% block content %}

{% include 'bursary/status.html'%}

<br>
<div class="row">
    <div class="col-lg-8">
        <div class="col">
            <div class="card card-body">
                <form method="get">
                    {{myFilter.form}}
                    <button class="btn btn-sm btn-info" types="Submit">Search</button>
                </form>
            </div>
        </div>
    </div>
</div>


<br>

<div class="row">
        <div class="col-md-5">
            <h5>STUDENTS:</h5>
            <hr>
            <div class="card card-body">
                <a class="btn btn-primary btn-sm btn-info" href="">Student Details
                </a>
                <table class="table table-sm">
                     <tr>
                         <th>Student's Name</th>
                         <th>Ward</th>
                         <th></th>
                     </tr>

                    {% for student in students %}
                      <tr>
                          <td>{{student.name}}</td>
                          <td>{{student.ward}}</td>
                           <td><a class="btn btn-sm btn-info" href="{% url 'student' student.id %}">View Student</a></td>
                      </tr>
                    {% endfor%}

                </table>
            </div>
        </div>

         <div class="col-md-7">
            <h5>APPLICATIONS:</h5>
            <hr>
            <div class="card card-body">

                <table class="table table-sm">
                    <tr>
                         <th>Bursary Name</th>
                         <th>Date Applied</th>
                         <th>Status</th>
                         <th>Amount</th>
                         <th>Update</th>
                         <th>Remove</th>
                    </tr>

                      {% for application in applications %}
                          <tr>
                              <td>{{application.bursary}}</td>
                              <td>{{application.date_created}}</td>
                              <td>{{application.status}}</td>
                              <td>{{application.applyAmount}}</td>
                              <td><a class="btn btn-sm btn-warning" href="{% url 'update_application' application.id %}">Update</a></td>
                              <td><a class="btn btn-sm btn-danger" href="{% url 'delete_application' application.id %}">Delete</a> </td>
                          </tr>
                        {% endfor %}

                </table>
            </div>
         </div>
</div>

{% endblock %}