<br>

<div class="row">
    <div class="col">
      <div class="col-md">
        <div class="card text-center text-white mb-3" id= "total-applications">
          <div class="card-header">
            <h5 class="card-title">Total Applications</h5>
          </div>
          <div class="card-body">
            <h3 class="card-title">{{total_applications}}</h3>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="col-md">
        <div class="card text-center text-white mb-3" id= "disbursed-bursaries">
          <div class="card-header">
            <h5 class="card-title">Disbursed Bursaries</h5>
          </div>
          <div class="card-body">
            <h3 class="card-title">{{disbursed_bursaries}}</h3>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="col-md">
        <div class="card text-center text-white mb-3" id= "pending-bursaries">
          <div class="card-header">
            <h5 class="card-title"> Pending Bursaries</h5>
          </div>
          <div class="card-body">
            <h3 class="card-title">{{pending_bursaries}}</h3>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
    <div class="col-md">
      <div class="card text-center text-white mb-3" id= "in-progress">
        <div class="card-header">
          <h5 class="card-title"> Disbursement in Progress</h5>
        </div>
        <div class="card-body">
          <h3 class="card-title">{{in_progress}}</h3>
        </div>
      </div>
    </div>
  </div>

</div>


